<div style="width: 302px;">
				<div class='heading'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.talents')}}</div>

	<ol class='items-list'>
		<li class='item grid-talent-items items-header'>
			<div class='item-name TCol2'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.name')}}</div>
			<div class='item-controls TCol4'>
				<a
					class='item-control item-create'
					data-tooltip='{{localize "DOCUMENT.Create" type='Talent'}}'
					data-action='createDoc'
					data-document-class='Item'
					data-origin='{{@root.talent.uuid}}'
					data-actor='{{actor.id}}'
					data-img='icons/svg/aura.svg'
					data-type='talent'
				>
					<i class='fas fa-plus'></i>
					{{localize 'DOCUMENT.New' type='talent'}}
				</a>
			</div>
		</li>
		</ol>
		</div>
	<div class='small-box' style='max-height: 130px;width: 302px;'>
	<ol class='items-list'>
		{{#each talent as |item id|}}
			<li class='item grid-talent-items' data-item-id='{{item._id}}' data-drag='true' data-document-class='Talent'>
				<div class='item-image TCol11'>
					<a data-roll-type='talent'>
						<img src='{{item.img}}' data-tooltip='{{item.name}}' width='24' height='24' />
					</a>
				</div>
<div class='item-name TCol12'data-tooltip='{{removeMarkup item.system.description}}' 
Basic -  {{#if item.system.basicisActive}} "Active" {{else}} "Inactive" {{/if}} - {{removeMarkup item.system.basicAction}} 
Advanced - {{#if item.system.advisActive}} "Active" {{else}} "Inactive" {{/if}} - {{removeMarkup item.system.advAction}}'
				>{{item.name}}</div>

				<div class='item-controls TCol14'>
					<a class='item-control item-edit' data-action='viewDoc' data-actor='{{actor.id}}' data-tooltip='{{localize "DOCUMENT.Update" type='Talent'}}'>
						<i class='fas fa-edit'></i>
					</a>
					<a class='item-control item-delete' data-action='deleteDoc' data-actor='{{actor.id}}' data-tooltip='{{localize "DOCUMENT.Delete" type='Talent'}}'>
						<i class='fas fa-trash'></i>
					</a>
				</div>
			</li>
		{{/each}}
	</ol>
</div>