<section class='tab items {{tab.cssClass}}' data-group='primary' data-tab='gear'>
	<div class='gear-split'>
		<div class='gearSplit1 sheet-gear-cash'>

			<label for='system.general.age.value' class='resource-label L1C1'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.age')}}</label>
			<input class='statnum L1C2' name='system.general.age.value' value='{{system.general.age.value}}' data-dtype='Number' />

			<label for='system.general.fame.value' class='resource-label L1C3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.fame')}}</label>
			<input class='statnum L1C4' name='system.general.fame.value' value='{{system.general.fame.value}}' data-dtype='Number' />

			<label for='system.general.cash' class='resource-label L2C1'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.cash')}} </label>
			<input class='currency L2C2' name='system.general.cash' value='{{system.general.cash}}' data-dtype='String' />

			<label for='system.general.capital' class='resource-label L2C3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.capital')}} </label>
			<input class='currency L2C4' name='system.general.capital' value='{{system.general.capital}}' data-dtype='String' />

			<label for='system.general.morals.value' class='resource-label L3C1'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.morals')}}</label>
			<input class='statnum L3C2' name='system.general.morals.value' value='{{system.general.morals.value}}' data-dtype='Number' />

			<label for='system.general.publicspirit.value' class='resource-label L3C3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.publicspirit')}}</label>
			<input class='statnum L3C4' name='system.general.publicspirit.value' value='{{system.general.publicspirit.value}}' data-dtype='Number' />

			<label for='system.general.reputation' class='resource-label L4C1'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.reputation')}}</label>
			<input name='system.general.reputation' class='resource-label L4C2' style='width: 300px' value='{{system.general.reputation}}' data-dtype='String' />

			<label for='system.general.lifestyle' class='resource-label L5C1'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.lifestyle')}}</label>
			<input name='system.general.lifestyle' class='resource-label L5C2' style='width: 300px' value='{{system.general.lifestyle}}' data-dtype='String' />

			<label for='system.general.xp.value' class='resource-label L6C1'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.experience')}}</label>
			<div class='newdots click-damage-level L6C2' data-tooltip='{{localize "TALESOFTHEOLDWEST.General.leftToAdd"}}' data-action='changeXp'>
				{{#times system.general.xp.value}}
					<i class='far fa-dot-circle'></i>
				{{/times}}
				{{#times system.general.xp.max}}<i class='far fa-circle'></i>{{/times}}
			</div>
		</div>
		<div class="gearSplit2" style=" width: 264px; overflow-x: auto"> <div class='heading'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.gear')}}</div>

	{{>"systems/talesoftheoldwest/templates/actor/parts/actor-items-inline.hbs"}} 
	</div> 
	</div>
	<div style="margin-left: 15px; margin-top:10px">{{>"systems/talesoftheoldwest/templates/actor/parts/actor-horse.hbs"}}</div>

</section>