<section class='tab compadres {{tab.cssClass}}' data-group='primary' data-tab='compadres'>
	<div>
		{{#each actor.system.compadres.details}}
			<div class='compardre' data-compId='{{id}}' style='margin-bottom: 10px;'>
				<div class='sheet-compadres-header'>
					<div class='schA1'>{{actor.name}}</div>
					<a class='button compadre-edit schB1' title='EDIT' data-compId='{{id}}'> <i class='fas fa-edit'></i> </a>
					<a class='button compadre-remove schA2' title='REMOVE' data-compId='{{id}}'><i class='fas fa-trash'></i></a>
				</div>
				<div class='sheet-compadres-attributes'>
					<div class='scaA1'>
						<label
							for='actor.system.attributes.grit'
							class='resource-label rollable align-left'
							title='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type='attribute'
							data-action='roll'
							data-label='{{localize "TALESOFTHEOLDWEST.Attributes.grit.name"}}'
							data-mod='{{actor.system.attributes.grit.mod}}'
							data-speaker='{{actor.id}}'
						>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.grit.name')}}</label>
					</div>
					<div class='scaB1'>
						<input class='statnum' name='actor.system.attributes.grit.value' value='{{actor.system.attributes.grit.value}}' data-dtype='Number' disabled/>
						<span style='font-weight: bolder; font-size: x-large'>/</span>
						<input class='statnum' name='actor.system.attributes.grit.max' value='{{actor.system.attributes.grit.max}}' data-dtype='Number'  disabled/>
					</div>
					<div class='scaA2'>
						<label
							for='actor.system.attributes.quick'
							class='resource-label rollable align-left'
							title='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type='attribute'
							data-action='roll'
							data-label='{{localize "TALESOFTHEOLDWEST.Attributes.quick.name"}}'
							data-mod='{{actor.system.attributes.quick.mod}}'
							data-speaker='{{actor.id}}'
						>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.quick.name')}}</label>
					</div>
					<div class='scaB2'>
						<input class='statnum' name='actor.system.attributes.quick.value' value='{{actor.system.attributes.quick.value}}' data-dtype='Number'  disabled/>
						<span style='font-weight: bolder; font-size: x-large'>/</span>
						<input class='statnum' name='actor.system.attributes.quick.max' value='{{actor.system.attributes.quick.max}}' data-dtype='Number'  disabled/>
					</div>
					<div class='scaA3'>
						<label
							for='actor.system.attributes.cunning'
							class='resource-label rollable align-left'
							title='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type='attribute'
							data-action='roll'
							data-label='{{localize "TALESOFTHEOLDWEST.Attributes.cunning.name"}}'
							data-mod='{{actor.system.attributes.cunning.mod}}'
							data-speaker='{{actor.id}}'
						>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.cunning.name')}}</label>
					</div>
					<div class='scaB3'>
						<input class='statnum' name='actor.system.attributes.cunning.value' value='{{actor.system.attributes.cunning.value}}' data-dtype='Number'  disabled/>
						<span style='font-weight: bolder; font-size: x-large'>/</span>
						<input class='statnum' name='actor.system.attributes.cunning.max' value='{{actor.system.attributes.cunning.max}}' data-dtype='Number'  disabled/>
					</div>
					<div class='scaA4'>
						<label
							for='actor.system.attributes.docity'
							class='resource-label rollable align-left'
							title='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type='attribute'
							data-action='roll'
							data-label='{{localize "TALESOFTHEOLDWEST.Attributes.docity.name"}}'
							data-mod='{{actor.system.attributes.docity.mod}}'
							data-speaker='{{actor.id}}'
						>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.docity.name')}}</label>
					</div>
					<div class='scaB4'>
						<input class='statnum' name='actor.system.attributes.docity.value' value='{{actor.system.attributes.docity.value}}' data-dtype='Number'  disabled/>
						<span style='font-weight: bolder; font-size: x-large'>/</span>
						<input class='statnum' name='actor.system.attributes.docity.max' value='{{actor.system.attributes.docity.max}}' data-dtype='Number'  disabled/>
					</div>
					<div class='scaH1'>
						<label for='actor.system.attributes.grit.type' class='resource-label' data-label='{{localize "TALESOFTHEOLDWEST.Attributes.grit.type"}}'><em
							>{{capitalise (localize 'TALESOFTHEOLDWEST.Attributes.grit.type')}}</em></label>
					</div>
					<div
						class='scaH2 newdots HedCol12'
						style='font-size: large; padding: 10px'
						data-action='changeDamage'
						data-label='{{localize "TALESOFTHEOLDWEST.Attributes.grit.type"}}'
						title='{{localize "TALESOFTHEOLDWEST.General.leftToAdd"}}'
					>
						{{#times actor.system.damage.hurts.value}}
							<a class='far fa-dot-circle'></a>
						{{/times}}
						{{#times actor.system.damage.hurts.max}}<a class='far fa-circle'></a>{{/times}}
					</div>
					<div class='scaS1'>
						<label for='actor.system.attributes.quick.type' class='resource-label' data-label='{{localize "TALESOFTHEOLDWEST.Attributes.quick.type"}}'><em
							>{{capitalise (localize 'TALESOFTHEOLDWEST.Attributes.quick.type')}}</em></label>
					</div>
					<div
						class='scaS2 newdots HedCol12'
						style='font-size: large'
						data-action='changeDamage'
						data-label='{{localize "TALESOFTHEOLDWEST.Attributes.quick.type"}}'
						title='{{localize "TALESOFTHEOLDWEST.General.leftToAdd"}}'
					>
						{{#times actor.system.damage.shakes.value}}
							<a class='far fa-dot-circle'></a>
						{{/times}}
						{{#times actor.system.damage.shakes.max}}<a class='far fa-circle'></a>{{/times}}
					</div>
					<div class='scaV1'>
						<label for='actor.system.attributes.cunning.type' class='resource-label' data-label='{{localize "TALESOFTHEOLDWEST.Attributes.cunning.type"}}'><em
							>{{capitalise (localize 'TALESOFTHEOLDWEST.Attributes.cunning.type')}}</em></label>
					</div>
					<div
						class='scaV2 newdots HedCol12'
						style='font-size: large'
						data-action='changeDamage'
						data-label='{{localize "TALESOFTHEOLDWEST.Attributes.cunning.type"}}'
						title='{{localize "TALESOFTHEOLDWEST.General.leftToAdd"}}'
					>
						{{#times actor.system.damage.vexes.value}}
							<a class='far fa-dot-circle'></a>
						{{/times}}
						{{#times actor.system.damage.vexes.max}}<a class='far fa-circle'></a>{{/times}}
					</div>
					<div class='scaD1'>
						<label for='actor.system.attributes.docity.type' class='resource-label' data-label='{{localize "TALESOFTHEOLDWEST.Attributes.docity.type"}}'><em
							>{{capitalise (localize 'TALESOFTHEOLDWEST.Attributes.docity.type')}}</em></label>
					</div>
					<div
						class='scaD2 newdots HedCol12'
						style='font-size: large'
						data-action='changeDamage'
						data-label='{{localize "TALESOFTHEOLDWEST.Attributes.docity.type"}}'
						title='{{localize "TALESOFTHEOLDWEST.General.leftToAdd"}}'
					>
						{{#times actor.system.damage.doubts.value}}
							<a class='far fa-dot-circle'></a>
						{{/times}}
						{{#times actor.system.damage.doubts.max}}<a class='far fa-circle'></a>{{/times}}
					</div>
				</div>
				<div class='compadre-split  div-border'>
					<label class='CompSplit11'>Talents</label>
					<div class='CompSplit21'>
						{{#each actor.items}}
							{{#if (eq type 'talent')}}
								<span> {{name}} ||</span>
							{{/if}}
						{{/each}}
					</div>

					<label class='CompSplit12' style="border-left: solid 2px black;">Abilities</label>
					<div class='CompSplit22' style="border-left: solid 2px black;">
						{{#each actor.system.abilities}}
							{{#if (gt value 0)}}
								<span>{{label}} - {{value}} ||</span>
							{{/if}}
						{{/each}}
					</div>
				</div>

				<div style="margin-left: 20px;">{{>"systems/talesoftheoldwest/templates/actor/parts/compadre-weapon.hbs"}}</div>

			</div>

		{{else}}

			<div class='crew-empty resource-label'>{{localize 'TALESOFTHEOLDWEST.General.gmDrag'}}</div>
		{{/each}}
	</div>

</section>