<div class='quality-split'>
	<div class='heading QualSplit11'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.quality')}}</div>
	<div class='QualSplit21'>
		<ol class='items-list'>
			<li class='item grid-talent-quality items-header'>
				<div class='item-name QCol2'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.name')}}</div>
			</li>
		</ol>
		<div class='small-box' style='max-height: 150px;'>
			<ol class='items-list'>
				{{#each animalquality as |item id|}}
					{{#if (eq item.system.general.subtype 'quality')}}
						<li class='item grid-talent-quality' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
							<div class='item-image QCol11'>
								<a>
									<img src='{{item.img}}' data-tooltip='{{item.name}}' width='24' height='24' />
								</a>
							</div>
							<div class='item-name QCol12' data-tooltip='{{item.system.description}}'>{{item.name}}</div>
							<div class='item-controls QCol13'>
								<a class='item-control item-edit' data-action='viewDoc' data-actor='{{actor.id}}' data-tooltip='{{localize "DOCUMENT.Update" type='Item'}}'>
									<i class='fas fa-edit'></i>
								</a>
								<a class='item-control item-delete' data-action='deleteDoc' data-actor='{{actor.id}}' data-tooltip='{{localize "DOCUMENT.Delete" type='Item'}}'>
									<i class='fas fa-trash'></i>
								</a>
							</div>
						</li>
					{{/if}}
				{{/each}}
			</ol>
		</div>
	</div>
	<div class='heading QualSplit12'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.flaws')}}</div>
	<div class='QualSplit22'>
		<ol class='items-list'>
			<li class='item grid-talent-quality items-header'>
				<div class='item-name QCol2'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.name')}}</div>

			</li>
		</ol>
		<div class='small-box' style='max-height: 150px;'>
			<ol class='items-list'>
				{{#each animalquality as |item id|}}
					{{#if (eq item.system.general.subtype 'flaw')}}
						<li class='item grid-talent-quality' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
							<div class='item-image QCol11'>
								<a>
									<img src='{{item.img}}' data-tooltip='{{item.name}}' width='24' height='24' />
								</a>
							</div>
							<div class='item-name QCol12' data-tooltip='{{item.system.description}}'>{{item.name}}</div>
							<div class='item-controls QCol13'>
								<a class='item-control item-edit' data-action='viewDoc' data-actor='{{actor.id}}' data-tooltip='{{localize "DOCUMENT.Update" type='Item'}}'>
									<i class='fas fa-edit'></i>
								</a>
								<a class='item-control item-delete' data-action='deleteDoc' data-actor='{{actor.id}}' data-tooltip='{{localize "DOCUMENT.Delete" type='Item'}}'>
									<i class='fas fa-trash'></i>
								</a>
							</div>
						</li>
					{{/if}}
				{{/each}}
			</ol>
		</div>
	</div>

</div>