{{! Sheet Header }}
<header class='sheet-header'>
	<div class='grid-header'>
		<div class='document-name HedCol1'>
			<input style='font-size: 35px;max-width: 445px;	height: auto;' name='name' type='text' value='{{actor.name}}' placeholder='Name' />
		</div>

		{{#if (eq actor.type 'animal')}}
			<label for='system.general.breed' class='resource-label HedCol3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.breed')}}</label>
			<input class='HedCol4' type='text' name='system.general.breed' value='{{system.general.breed}}' data-dtype='text' />
			{{/if}}
	{{#if (eq actor.type 'pc')}}
			<label for='system.general.archetype' class='resource-label HedCol3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.archetype')}}</label>
			<select class='HedCol4' id='system.general.archetype' name='system.general.archetype'>
				{{selectOptions archetype_list selected=system.general.archetype labelAttr='label' localize=true}}
			</select>
			<label for='system.general.groupconcept' class='resource-label HedCol5'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.groupConcept')}}</label>
			<select class='HedCol6' id='system.general.groupconcept' name='system.general.groupconcept'>
				{{selectOptions group_concept_list selected=system.general.groupconcept labelAttr='label' localize=true}}
			</select>

			<label for='system.general.yourpardner' class='resource-label HedCol7'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.your-pardner')}}</label>
			<input class='HedCol10' type='text' name='system.general.yourpardner' value='{{system.general.yourpardner}}' data-dtype='text' />

			<label for='system.general.faith' class='resource-label HedCol8'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.faith')}}</label>
			<textarea class='textarea-format HedCol11' name='system.general.faith' data-dtype='String' rows='2'>{{system.general.faith}}</textarea>

			<div
				class='newdots click-damage-level HedCol12'
				style='font-size: x-large;'
				title='{{localize "TALESOFTHEOLDWEST.General.leftToAdd"}}'
				data-action='changeFaith'
			>
				{{#times system.general.faithpoints.value}}
					<i class='far fa-dot-circle'></i>
				{{/times}}
				{{#times system.general.faithpoints.max}}<i class='far fa-circle'></i>{{/times}}
			</div>
		{{/if}}
	{{#if (eq actor.type 'npc')}}
			<label for='system.general.archetype' class='resource-label HedCol3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.archetype')}}</label>
			<select class='HedCol4' id='system.general.archetype' name='system.general.archetype'>
				{{selectOptions archetype_list selected=system.general.archetype labelAttr='label' localize=true}}
			</select>
		{{/if}}

		<img class='profile-img grid-header HedCol2' src='{{actor.img}}' data-edit='img' data-action='onEditImage' title='{{actor.name}}' />
	</div>
</header>