{{! Sheet Header }}
<header class='sheet-header'>
	<div class='grid-header'>
		<div class='document-name HedCol1'>
			<input style='font-size: 35px;max-width: 445px;	height: auto;' name='name' type='text' value='{{actor.name}}' placeholder='Name' />
		</div>

		{{#if (eq actor.type 'animal')}}
			<label for='system.general.archtype' class='resource-label HedCol3'>BREED</label>
			<input class='HedCol4' type='text' name='system.general.breed' value='{{system.general.breed}}' data-dtype='text' />
		{{else}}
			<label for='system.general.archtype' class='resource-label HedCol3'>ARCHTYPE</label>
			<select class='HedCol4' id='system.general.archtype' name='system.general.archtype'>
				{{selectOptions archtype_list selected=system.general.archtype labelAttr='label' localize=true}}
			</select>
			<label for='system.general.heritage' class='resource-label HedCol5'>HERITAGE</label>
			<select class='HedCol6' id='system.general.heritage' name='system.general.heritage'>
				{{selectOptions heritage_list selected=system.general.heritage labelAttr='label' localize=true}}
			</select>
		{{/if}}

		<img class='profile-img grid-header HedCol2' src='{{actor.img}}' data-edit='img' data-action='onEditImage' title='{{actor.name}}' />
	</div>
</header>