<section class="tab skills {{tab.cssClass}}" data-group="primary" data-tab="skills">
	{{#if (ne actor.type "animal")}}
	<div class="heading" style="padding-left: 20px">
		{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.attributes')}} {{toUpperCase (localize 'TALESOFTHEOLDWEST.General.and')}} {{toUpperCase (localize
		'TALESOFTHEOLDWEST.General.abilities')}}
	</div>
	<div class="sheet-main-attributes">
		<div class="A1 main-attributes">
			<label
				for="system.attributes.grit"
				class="resource-label rollable align-left"
				data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
				data-roll-type="attribute"
				data-action="roll"
				data-label='{{localize "TALESOFTHEOLDWEST.Attributes.grit.name"}}'
				data-mod="{{system.attributes.grit.mod}}"
				data-key="{{localize "TALESOFTHEOLDWEST.Attributes.grit.listName"}}"
				data-speaker='{{actor.name}}'
				data-speaker-id='{{actor.id}}'

				>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.grit.name')}}</label
			>
		</div>
		<div class="B1">
			<input class="statnum" type='number' name="system.attributes.grit.value" value="{{system.attributes.grit.value}}" data-dtype='Number'/>
			<span style="font-weight: bolder; font-size: x-large">/</span>
			<input class="statnum" type='number'  name="system.attributes.grit.max" value="{{system.attributes.grit.max}}" data-dtype='Number'/>
		</div>

		<div class="A2 main-attributes">
			<label
				for="system.attributes.quick"
				class="resource-label rollable align-left"
				data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
				data-roll-type="attribute"
				data-action="roll"
				data-label='{{localize "TALESOFTHEOLDWEST.Attributes.quick.name"}}'
				data-mod="{{system.attributes.quick.mod}}"
				data-key="{{localize "TALESOFTHEOLDWEST.Attributes.quick.listName"}}"
				data-speaker='{{actor.name}}'
				data-speaker-id='{{actor.id}}'

				>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.quick.name')}}</label
			>
		</div>
		<div class="B2">
			<input class="statnum" type='number'  name="system.attributes.quick.value" value="{{system.attributes.quick.value}}" data-dtype='Number'/>
			<span style="font-weight: bolder; font-size: x-large">/</span>
			<input class="statnum" type='number'  name="system.attributes.quick.max" value="{{system.attributes.quick.max}}" data-dtype='Number'/>
		</div>

		<div class="A3 main-attributes">
			<label
				for="system.attributes.cunning"
				class="resource-label rollable align-left"
				data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
				data-roll-type="attribute"
				data-action="roll"
				data-label='{{localize "TALESOFTHEOLDWEST.Attributes.cunning.name"}}'
				data-mod="{{system.attributes.cunning.mod}}"
				data-key="{{localize "TALESOFTHEOLDWEST.Attributes.cunning.listName"}}"
				data-speaker='{{actor.name}}'
				data-speaker-id='{{actor.id}}'

				>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.cunning.name')}}</label
			>
		</div>
		<div class="B3">
			<input class="statnum" type='number'  name="system.attributes.cunning.value" value="{{system.attributes.cunning.value}}" data-dtype='Number'/>
			<span style="font-weight: bolder; font-size: x-large">/</span>
			<input class="statnum"  type='number' name="system.attributes.cunning.max" value="{{system.attributes.cunning.max}}" data-dtype='Number'/>
		</div>

		<div class="A4 main-attributes">
			<label
				for="system.attributes.docity"
				class="resource-label rollable align-left"
				data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
				data-roll-type="attribute"
				data-action="roll"
				data-label='{{localize "TALESOFTHEOLDWEST.Attributes.docity.name"}}'
				data-mod="{{system.attributes.docity.mod}}"
				data-key="{{localize "TALESOFTHEOLDWEST.Attributes.docity.listName"}}"
				data-speaker='{{actor.name}}'
				data-speaker-id='{{actor.id}}'

				>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.docity.name')}}</label
			>
		</div>
		<div class="B4">
			<input class="statnum"  type='number' name="system.attributes.docity.value" value="{{system.attributes.docity.value}}" data-dtype='Number'/>
			<span style="font-weight: bolder; font-size: x-large">/</span>
			<input class="statnum"  type='number' name="system.attributes.docity.max" value="{{system.attributes.docity.max}}" data-dtype='Number'/>
		</div>

		<div class="H1 heading">
			<label for="system.attributes.grit.type" class="resource-label" data-label='{{localize "TALESOFTHEOLDWEST.Attributes.grit.type"}}'
				><em>{{capitalise (localize 'TALESOFTHEOLDWEST.Attributes.grit.type')}}</em></label
			>
		</div>

		<div
			class="H2 newdots HedCol12"
			data-action="changeDamage"
			data-label='{{localize "TALESOFTHEOLDWEST.Attributes.grit.type"}}'
			data-attribute='{{localize "TALESOFTHEOLDWEST.Attributes.grit.listName"}}'
			data-tooltip="{{localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}"
		>
			{{#times system.damage.hurts.value}}
			<a class="far fa-dot-circle"></a>
			{{/times}} {{#times system.damage.hurts.max}}<a class="far fa-circle"></a>{{/times}}
		</div>

		<div class="S1 heading">
			<label for="system.attributes.quick.type" class="resource-label" data-label='{{localize "TALESOFTHEOLDWEST.Attributes.quick.type"}}'
				><em>{{capitalise (localize 'TALESOFTHEOLDWEST.Attributes.quick.type')}}</em></label
			>
		</div>

		<div
			class="S2 newdots HedCol12"
			data-action="changeDamage"
			data-label='{{localize "TALESOFTHEOLDWEST.Attributes.quick.type"}}'
			data-attribute='{{localize "TALESOFTHEOLDWEST.Attributes.quick.listName"}}'
			data-tooltip="{{localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}"
		>
			{{#times system.damage.shakes.value}}
			<a class="far fa-dot-circle"></a>
			{{/times}} {{#times system.damage.shakes.max}}<a class="far fa-circle"></a>{{/times}}
		</div>
		<div class="V1 	heading">
			<label for="system.attributes.cunning.type" class="resource-label" data-label='{{localize "TALESOFTHEOLDWEST.Attributes.cunning.type"}}'
				><em>{{capitalise (localize 'TALESOFTHEOLDWEST.Attributes.cunning.type')}}</em></label
			>
		</div>
		<div
			class="V2 newdots HedCol12"
			data-action="changeDamage"
			data-label='{{localize "TALESOFTHEOLDWEST.Attributes.cunning.type"}}'
			data-attribute='{{localize "TALESOFTHEOLDWEST.Attributes.cunning.listName"}}'
			data-tooltip="{{localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}"
		>
			{{#times system.damage.vexes.value}}
			<a class="far fa-dot-circle"></a>
			{{/times}} {{#times system.damage.vexes.max}}<a class="far fa-circle"></a>{{/times}}
		</div>

		<div class="D1 heading">
			<label for="system.attributes.docity.type" class="resource-label" data-label='{{localize "TALESOFTHEOLDWEST.Attributes.docity.type"}}'
				><em>{{capitalise (localize 'TALESOFTHEOLDWEST.Attributes.docity.type')}}</em></label
			>
		</div>
		<div
			class="D2 newdots HedCol12"
			data-action="changeDamage"
			data-label='{{localize "TALESOFTHEOLDWEST.Attributes.docity.type"}}'
			data-attribute='{{localize "TALESOFTHEOLDWEST.Attributes.docity.listName"}}'
			data-tooltip="{{localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}"
		>
			{{#times system.damage.doubts.value}}
			<a class="far fa-dot-circle"></a>
			{{/times}} {{#times system.damage.doubts.max}}<a class="far fa-circle"></a>{{/times}}
		</div>
	</div>
	<div class="sheet-main-abilities">
		{{#each system.abilities as |ability key|}}
		<div class="abilities-name {{key}}" >
			<label
				class="resource-label rollable"
				for="system.abilities.{{key}}.value"
				data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
				data-speaker="{{actor.name}}"
				data-speaker-id="{{actor.id}}"
				data-roll-type="ability"
				data-action="roll"
				data-value="{{ability.value}}"
				data-label="{{ability.label}}"
				data-stunts="{{ability.label}}"
				data-mod="{{ability.mod}}"
				data-key="{{key}}"
				data-attr="{{ability.attr}}"
				>{{ability.upper}}</label
			>
		</div>
		<div class="{{key}}2" style="text-align: center">
			<input class="statnum" type='number'  name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype='Number'/>
		</div>
		{{/each}}
	</div>
	{{/if}} 
	
	{{#if (eq actor.type "pc")}}
	<div class="body-split">
		<div class="Split1">
			<div class="crit-and-conditions" style="padding-left: 10px; margin-bottom: 10px">
				<div class="heading">
					{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.criticalInjurys')}} / {{toUpperCase (localize 'TALESOFTHEOLDWEST.General.conditions')}}
				</div>
				<div>
					<label class="resource-label" style="font-size: 1.5em" data-action="rollCrit">{{ localize 'TYPES.Item.crit'}}</label>
					<a class="resource-label-header" data-tooltip="{{localize 'TALESOFTHEOLDWEST.General.leftclicktoroll'}}" data-action="rollCrit"
						><i class="fas fa-heartbeat"></i
					></a>
				</div>
				<div class="grid-crit">
					<ol class="items-list">
						{{#each system.critInj as |item iid|}}
						<li class="item critical-inj" data-item-id="{{item.id}}" data-drag="true" data-document-class="Critical Injury">
							<div class="item-image crit1"><img src="{{item.img}}" width="24" height="24" /></div>
							<div class="crit2">{{item.name}}</div>
							<div class="crit3">
								<p>
									<strong> {{localize 'TALESOFTHEOLDWEST.Criticals.imediateeffect'}} :</strong> {{striptags item.system.imediateeffect}} <br />
									<strong> {{localize 'TALESOFTHEOLDWEST.Criticals.longtermeffect'}} : </strong> {{removeMarkup item.system.longtermeffect}}
								</p>
							</div>
							<div class="item-controls crit4">
								<a class="item-control item-edit" data-action="viewDoc" data-actor="{{actor.id}}" data-tooltip='{{localize "DOCUMENT.Update" type="Item"}}'>
									<i class="fas fa-edit"></i>
								</a>
								<a
									class="item-control item-delete"
									data-action="deleteDoc"
									data-type="criticalinj"
									data-actor="{{actor.id}}"
									data-tooltip='{{localize "DOCUMENT.Delete" type="Item"}}'
								>
									<i class="fas fa-trash"></i>
								</a>
							</div>
						</li>
						{{/each}}
					</ol>
				</div>
				<div class="conditionHeading" >
					<label class="dots resource-label" style="padding-right: 15px" data-key="starving" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
						{{ localize 'TALESOFTHEOLDWEST.Conditions.Starving'}}
						<a class="overwatch-toggle" data-action="toggleCondition" data-key="starving">
							{{#if (eq system.conditions.starving true)}}
							<i class="far fa-dot-circle"></i>
							{{else}}
							<i class="far fa-circle"></i>
							{{/if}}
						</a>
					</label>
					<label class="dots resource-label" style="padding-right: 15px" data-key="dehydrated" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
						{{ localize 'TALESOFTHEOLDWEST.Conditions.Dehydrated'}}
						<a class="overwatch-toggle" data-action="toggleCondition" data-key="dehydrated">
							{{#if (eq system.conditions.dehydrated true)}}
							<i class="far fa-dot-circle"></i>
							{{else}}
							<i class="far fa-circle"></i>
							{{/if}}
						</a>
					</label>
					<label class="dots resource-label" style="padding-right: 15px" data-key="exhausted" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
						{{ localize 'TALESOFTHEOLDWEST.Conditions.Exhausted'}}
						<a class="overwatch-toggle" data-action="toggleCondition" data-key="exhausted">
							{{#if (eq system.conditions.exhausted true)}}
							<i class="far fa-dot-circle"></i>
							{{else}}
							<i class="far fa-circle"></i>
							{{/if}}
						</a>
					</label>
					<label class="dots resource-label" style="padding-right: 15px" data-key="freezing" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
						{{ localize 'TALESOFTHEOLDWEST.Conditions.Freezing'}}
						<a class="overwatch-toggle" data-action="toggleCondition" data-key="freezing">
							{{#if (eq system.conditions.freezing true)}}
							<i class="far fa-dot-circle"></i>
							{{else}}
							<i class="far fa-circle"></i>
							{{/if}}
						</a>
					</label>
					<label class="dots resource-label" data-key="heatstroke" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
						{{ localize 'TALESOFTHEOLDWEST.Conditions.Heatstroke'}}
						<a class="overwatch-toggle" data-action="toggleCondition" data-key="heatstroke">
							{{#if (eq system.conditions.heatstroke true)}}
							<i class="far fa-dot-circle"></i>
							{{else}}
							<i class="far fa-circle"></i>
							{{/if}}
						</a>
					</label>
				</div>
			</div>
		</div>
		<div class="Split2" >
				{{>"systems/talesoftheoldwest/templates/actor/parts/actor-talent.hbs"}}</div>
	</div>
	<div style="margin-left: 20px; border-top: solid black">{{>"systems/talesoftheoldwest/templates/actor/parts/actor-weapon.hbs"}}</div>
	{{/if}} 

	{{#if (eq actor.type "npc")}}
	<div class="three-body-split">
		<div class="TSplit1 " style="padding-left: 10px; margin-bottom: 10px">
			<div class="heading" style="width: 264px">{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.conditions')}}</div>
			<div class="conditions-split heading">
				<label class="dots resource-label CSplit11 " data-key="starving" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
					{{ localize 'TALESOFTHEOLDWEST.Conditions.Starving'}}
				</label>
				<a class="overwatch-toggle CSplit12" data-action="toggleCondition" data-key="starving">
					{{#if (eq system.conditions.starving true)}}
					<i class="far fa-dot-circle"></i>
					{{else}}
					<i class="far fa-circle"></i>
					{{/if}}
				</a>
				<label class="dots resource-label CSplit21" data-key="dehydrated" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
					{{ localize 'TALESOFTHEOLDWEST.Conditions.Dehydrated'}}
				</label>
				<a class="overwatch-toggle CSplit22" data-action="toggleCondition" data-key="dehydrated">
					{{#if (eq system.conditions.dehydrated true)}}
					<i class="far fa-dot-circle"></i>
					{{else}}
					<i class="far fa-circle"></i>
					{{/if}}
				</a>
				<label class="dots resource-label CSplit31" data-key="exhausted" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
					{{ localize 'TALESOFTHEOLDWEST.Conditions.Exhausted'}}
				</label>
				<a class="overwatch-toggle CSplit32" data-action="toggleCondition" data-key="exhausted">
					{{#if (eq system.conditions.exhausted true)}}
					<i class="far fa-dot-circle"></i>
					{{else}}
					<i class="far fa-circle"></i>
					{{/if}}
				</a>
				<label class="dots resource-label CSplit41" data-key="freezing" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
					{{ localize 'TALESOFTHEOLDWEST.Conditions.Freezing'}}
				</label>
				<a class="overwatch-toggle CSplit42" data-action="toggleCondition" data-key="freezing">
					{{#if (eq system.conditions.freezing true)}}
					<i class="far fa-dot-circle"></i>
					{{else}}
					<i class="far fa-circle"></i>
					{{/if}}
				</a>
				<label class="dots resource-label CSplit51" data-key="heatstroke" data-tooltip="{{ localize 'TALESOFTHEOLDWEST.General.leftToAdd'}}">
					{{ localize 'TALESOFTHEOLDWEST.Conditions.Heatstroke'}}
				</label>
				<a class="overwatch-toggle CSplit52" data-action="toggleCondition" data-key="heatstroke">
					{{#if (eq system.conditions.heatstroke true)}}
					<i class="far fa-dot-circle"></i>
					{{else}}
					<i class="far fa-circle"></i>
					{{/if}}
				</a>
			</div>
		</div>
		<div class="TSplit2" ><div class='heading'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.gear')}}</div>
{{>"systems/talesoftheoldwest/templates/actor/parts/actor-items-inline.hbs"}}</div>
		<div class="TSplit3">{{>"systems/talesoftheoldwest/templates/actor/parts/actor-talent.hbs"}}</div>
	</div>
	<div style="margin-left: 20px; border-top: solid black">{{>"systems/talesoftheoldwest/templates/actor/parts/actor-weapon.hbs"}}</div>
	{{/if}} 

	{{#if (eq actor.type "animal")}}
				<div class="sheet-animal-attributes animal-stats ">
					<div class="aA1 main-attributes">
						<label
							for="system.attributes.grit"
							class="resource-label rollable align-left"
							data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type="attribute"
							data-action="roll"
							data-label='{{localize "TALESOFTHEOLDWEST.Attributes.grit.name"}}'
							data-mod="{{system.attributes.grit.mod}}"
							data-speaker='{{actor.name}}'
							data-speaker-id='{{actor.id}}'

							>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.grit.name')}}</label
						>
					</div>
					<div class="aB1">
						<input class="statnum" type='number'  name="system.attributes.grit.value" value="{{system.attributes.grit.value}}" data-dtype='Number'/>
						<span style="font-weight: bolder; font-size: x-large">/</span>
						<input class="statnum" type='number'  name="system.attributes.grit.max" value="{{system.attributes.grit.max}}" data-dtype='Number'/>
					</div>

					<div class="aA2 main-attributes">
						<label
							for="system.attributes.quick"
							class="resource-label rollable align-left"
							data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type="attribute"
							data-action="roll"
							data-label='{{localize "TALESOFTHEOLDWEST.Attributes.quick.name"}}'
							data-mod="{{system.attributes.quick.mod}}"
							data-speaker='{{actor.name}}'
							data-speaker-id='{{actor.id}}'

							>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.quick.name')}}</label
						>
					</div>
					<div class="aB2">
						<input class="statnum" type='number'  name="system.attributes.quick.value" value="{{system.attributes.quick.value}}" data-dtype='Number'/>
						<span style="font-weight: bolder; font-size: x-large">/</span>
						<input class="statnum" type='number'  name="system.attributes.quick.max" value="{{system.attributes.quick.max}}" data-dtype='Number'/>
					</div>
					<div class="aA3 main-attributes">
						<label
							for="system.attributes.cunning"
							class="resource-label rollable align-left"
							data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type="attribute"
							data-action="roll"
							data-label='{{localize "TALESOFTHEOLDWEST.Attributes.cunning.name"}}'
							data-mod="{{system.attributes.cunning.mod}}"
							data-speaker='{{actor.name}}'
							data-speaker-id='{{actor.id}}'

							>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Attributes.cunning.name')}}</label
						>
					</div>
					<div class="aB3">
						<input class="statnum" type='number'  name="system.attributes.cunning.value" value="{{system.attributes.cunning.value}}" data-dtype='Number'/>
						<span style="font-weight: bolder; font-size: x-large">/</span>
						<input class="statnum" type='number'  name="system.attributes.cunning.max" value="{{system.attributes.cunning.max}}" data-dtype='Number'/>
					</div>
				</div>
		{{#if (eq actor.system.general.subtype 'horse')}}
				<div class="sheet-animal-abilities  animal-stats" >
					<div class="aresilience heading" >
						<label
							class="resource-label rollable"
							for="system.abilities.resilience.value"
							data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type="ability"
							data-action="roll"
							data-value="{{system.abilities.resilience.value}}"
							data-label="{{system.abilities.resilience.label}}"
							data-stunts="{{system.abilities.resilience.label}}"
							data-mod="{{system.abilities.resilience.mod}}"
							data-attr="{{system.abilities.resilience.attr}}"
							data-speaker='{{actor.name}}'
							data-speaker-id='{{actor.id}}'

							>{{system.abilities.resilience.upper}}</label
						>
					</div>
					<div class="aresilience2" style="text-align: center">
						<input class="statnum" type='number'  name="system.abilities.resilience.value" value="{{system.abilities.resilience.value}}" data-dtype='Number'/>
					</div>
					<div class="afightin heading" >
						<label
							class="resource-label rollable"
							for="system.abilities.fightin.value"
							data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type="ability"
							data-action="roll"
							data-value="{{system.abilities.fightin.value}}"
							data-label="{{system.abilities.fightin.label}}"
							data-stunts="{{system.abilities.fightin.label}}"
							data-mod="{{system.abilities.fightin.mod}}"
							data-attr="{{system.abilities.fightin.attr}}"
							data-speaker='{{actor.name}}'
							data-speaker-id='{{actor.id}}'

							>{{system.abilities.fightin.upper}}</label
						>
					</div>
					<div class="afightin2" style="text-align: center">
						<input class="statnum" type='number'  name="system.abilities.fightin.value" value="{{system.abilities.fightin.value}}" data-dtype='Number'/>
					</div>
				</div>
				<div class="horse-quality-split" style="height: 200px;">
					<div class="HQSplit11">{{>"systems/talesoftheoldwest/templates/actor/parts/horse-quality-options.hbs"}}</div>
					<div class="HQSplit12">
						<div class='heading' style="padding-top: 3px;">{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.saddlebag')}}</div>
						{{>"systems/talesoftheoldwest/templates/actor/parts/actor-items-inline.hbs"}}</div>
						</div>

				{{else}}
							<div class="sheet-animal-abilities  animal-stats" >
									<div class="aresilience" style="font-size: large; text-align: right">
						<label
							class="resource-label rollable"
							for="system.abilities.fightin.value"
							data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type="ability"
							data-action="roll"
							data-value="{{system.abilities.fightin.value}}"
							data-label="{{system.abilities.fightin.label}}"
							data-stunts="{{system.abilities.fightin.label}}"
							data-mod="{{system.abilities.fightin.mod}}"
							data-attr="{{system.abilities.fightin.attr}}"
							data-speaker='{{actor.name}}'
							data-speaker-id='{{actor.id}}'

							>{{system.abilities.fightin.upper}}</label
						>
					</div>
					<div class="aresilience2" style="text-align: center">
						<input class="statnum" type='number'  name="system.abilities.fightin.value" value="{{system.abilities.fightin.value}}" data-dtype='Number'/>
					</div>	
					<div class="amove" style="font-size: large; text-align: right">
						<label
							class="resource-label rollable"
							for="system.abilities.move.value"
							data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type="ability"
							data-action="roll"
							data-value="{{system.abilities.move.value}}"
							data-label="{{system.abilities.move.label}}"
							data-stunts="{{system.abilities.move.label}}"
							data-mod="{{system.abilities.move.mod}}"
							data-attr="{{system.abilities.move.attr}}"
							data-speaker='{{actor.name}}'
							data-speaker-id='{{actor.id}}'

							>{{system.abilities.move.upper}}</label
						>
					</div>
					<div class="amove2" style="text-align: center">
						<input class="statnum" type='number'  name="system.abilities.move.value" value="{{system.abilities.move.value}}" data-dtype='Number'/>
					</div>
					<div class="afightin" style="font-size: large; text-align: right">
						<label
							class="resource-label rollable"
							for="system.abilities.hawkeye.value"
							data-tooltip='{{localize "TALESOFTHEOLDWEST.General.rightclicktomodify"}}'
							data-roll-type="ability"
							data-action="roll"
							data-value="{{system.abilities.hawkeye.value}}"
							data-label="{{system.abilities.hawkeye.label}}"
							data-stunts="{{system.abilities.hawkeye.label}}"
							data-mod="{{system.abilities.hawkeye.mod}}"
							data-attr="{{system.abilities.hawkeye.attr}}"
							data-speaker='{{actor.name}}'
							data-speaker-id='{{actor.id}}'

							>{{system.abilities.hawkeye.upper}}</label
						>
					</div>
					<div class="afightin2" style="text-align: center">
						<input class="statnum" type='number'  name="system.abilities.hawkeye.value" value="{{system.abilities.hawkeye.value}}" data-dtype='Number'/>
					</div>
				</div>
				<div style="text-align: center">
					<label for="system.general.attacks" class="heading" >{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.attacks')}}</label>
				</div>
				<div class="div-border" style="height: 160px; width: 850px; margin: auto">
					{{#if editable}}
					<prose-mirror name="system.general.attacks" style="margin: auto;" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.general.attacks}}" toggled="true">
						{{{enrichedAttacks}}}
					</prose-mirror>
					{{else}} 
						{{{enrichedAttacks}}} 
					{{/if}}
				</div>
			{{/if}}
							<div style="text-align: center">
					<label for="system.biography" class="heading"  >{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.description')}}</label>
				</div>
							<div class="div-border" style="height: 277px; width: 850px; margin: auto">
					{{#if editable}}
					<prose-mirror name="system.biography" style="height: inherit;margin: auto"  data-document-u-u-i-d="{{actor.uuid}}" value="{{system.biography}}" collaborate='true' toggled="true">
						{{{enrichedBiography}}}
					</prose-mirror>
					{{else}} 
						{{{enrichedBiography}}} 
					{{/if}}
				</div>
	{{/if}}
</section>
