<header class='sheet-header'>
	<div class='grid-item-header'>

		<div class='document-name ItemHedCol1'>
			<input style='font-size: 35px;max-width: 445px;	height: auto;' name='name' type='text' value='{{item.name}}' placeholder='Name' />
		</div>

		{{#if (eq item.type 'item')}}
			<label class='resource-label ItemHedCol3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.quantity')}}</label>
			<input class='ItemHedCol4' type='text' name='system.quantity' value='{{system.quantity}}' data-dtype='Number' />
			<label class='resource-label ItemHedCol5'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.weight')}}</label>
			<input class='ItemHedCol6' type='text' name='system.weight' value='{{system.weight}}' data-dtype='Number' />
			<label class='resource-label ItemHedCol7'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.cost')}}</label>
			<input class='ItemHedCol8 currency' name='system.cost' value='{{system.cost}}' data-dtype='String' />
		{{/if}}

		{{#if (eq item.type 'weapon')}}
			<label class='resource-label ItemHedCol3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.weight')}}</label>
			<input class='ItemHedCol4' type='text' name='system.weight' value='{{system.weight}}' data-dtype='Number' />
			<label class='resource-label ItemHedCol5'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.cost')}}</label>
			<input class='ItemHedCol6 currency' name='system.cost' value='{{system.cost}}' data-dtype='String' />
		{{/if}}
		{{#if (eq item.type 'animalquality')}}
			<label for='system.general.subtype' class='resource-label ItemHedCol3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.type')}}</label>
			<select class='ItemHedCol4' id='system.general.subtype' name='system.general.subtype'>
				{{selectOptions config.animal_quality_types_list selected=system.general.subtype labelAttr='label' localize=true}}
			</select>
		{{/if}}

		<img class='item-img grid-item-header ItemHedCol2' src='{{item.img}}' data-edit='img' data-action='onEditImage' data-tooltip='{{item.name}}' />

	</div>
</header>