{{! Description Tab }}
<section class='tab qualities {{tab.cssClass}}' data-group='primary' data-tab='qualities'>
	{{#if (eq system.subtype 'shootin')}}
		<div style='overflow-x: auto;'>
			<div class='heading' style='margin-top:30px'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.rwQualities')}}</div>
			<ol class='items-list qualities-box'>
				<li class='item grid-talent-items items-header'>
					<div class='item-name TCol2'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.name')}}</div>
				</li>
				{{#each system.featureModifiers as |item id|}}
					{{#if (eq item.type 'shootin')}}
						{{#if (eq item.feature 'quality')}}
							<li class='item grid-talent-items' data-item-id='{{item._id}}' data-drag='false' data-document-class='Weapon Quality'>
								<div class='item-image TCol11'>
									<a><img src='{{item.img}}' data-tooltip='{{item.name}}' width='24' height='24' /></a>
								</div>
								<div class='item-name TCol12' data-tooltip='{{striptags item.description}}'>{{item.name}}</div>
								<div class='item-controls TCol14'>
									<a
										class='item-control item-delete quality'
										data-action='removeFeature'
										data-actor='{{actor.id}}'
										data-item-id='{{item.id}}'
										data-tooltip='{{localize "DOCUMENT.Delete" type='Weapon Quality'}}'
									>
										<i class='fas fa-trash'></i>
									</a>
								</div>
							</li>
						{{/if}}
					{{/if}}

				{{/each}}
			</ol>
			<div class='heading' style='margin-top:30px'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.rwConditions')}}</div>
			<ol class='items-list qualities-box'>
				<li class='item grid-talent-items items-header'>
					<div class='item-name TCol2'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.name')}}</div>
				</li>
				{{#each system.featureModifiers as |item id|}}
					{{#if (eq item.type 'shootin')}}
						{{#if (eq item.feature 'condition')}}
							<li class='item grid-talent-items' data-item-id='{{item._id}}' data-drag='false' data-document-class='Weapon Quality'>
								<div class='item-image TCol11'>
									<a><img src='{{item.img}}' data-tooltip='{{item.name}}' width='24' height='24' /></a>
								</div>
								<div class='item-name TCol12' data-tooltip='{{striptags item.description}}'>{{item.name}}</div>
								<div class='item-controls TCol14'>

									<a
										class='item-control item-delete quality'
										data-action='removeFeature'
										data-actor='{{actor.id}}'
										data-item-id='{{item.id}}'
										data-tooltip='{{localize "DOCUMENT.Delete" type='Weapon Quality'}}'
									>
										<i class='fas fa-trash'></i>
									</a>
								</div>
							</li>
						{{/if}}
					{{/if}}
				{{/each}}

			</ol>

		</div>
	{{/if}}

	{{#if (eq system.subtype 'fightin')}}
		<div style='overflow-x: auto;'>
			<div class='heading' style='margin-top:30px'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.mwQualities')}}</div>
			<ol class='items-list qualities-box'>
				<li class='item grid-talent-items items-header'>
					<div class='item-name TCol2'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.name')}}</div>
				</li>
				{{#each system.featureModifiers as |item id|}}
					{{#if (eq item.type 'fightin')}}

						{{#if (eq item.feature 'quality')}}
							<li class='item grid-talent-items' data-item-id='{{item._id}}' data-drag='false' data-document-class='Weapon Quality'>
								<div class='item-image TCol11'>
									<a><img src='{{item.img}}' data-tooltip='{{item.name}}' width='24' height='24' /></a>
								</div>
								<div class='item-name TCol12' data-tooltip='{{striptags item.description}}'>{{item.name}}</div>
								<div class='item-controls TCol14'>
									<a
										class='item-control item-delete quality'
										data-action='removeFeature'
										data-actor='{{actor.id}}'
										data-item-id='{{item.id}}'
										data-tooltip='{{localize "DOCUMENT.Delete" type='Weapon Quality'}}'
									>
										<i class='fas fa-trash'></i>
									</a>
								</div>
							</li>
						{{/if}}
					{{/if}}

				{{/each}}
			</ol>
			<div class='heading' style='margin-top:30px'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.mwConditions')}}</div>

			<ol class='items-list qualities-box'>
				<li class='item grid-talent-items items-header'>
					<div class='item-name TCol2'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.name')}}</div>
				</li>
				{{#each system.featureModifiers as |item id|}}
					{{#if (eq item.type 'fightin')}}
						{{#if (eq item.feature 'condition')}}
							<li class='item grid-talent-items' data-item-id='{{item._id}}' data-drag='false' data-document-class='Weapon Quality'>
								<div class='item-image TCol11'>
									<a><img src='{{item.img}}' data-tooltip='{{item.name}}' width='24' height='24' /></a>
								</div>
								<div class='item-name TCol12' data-tooltip='{{striptags item.description}}'>{{item.name}}</div>
								<div class='item-controls TCol14'>
									<a
										class='item-control item-delete quality'
										data-action='removeFeature'
										data-actor='{{actor.id}}'
										data-item-id='{{item.id}}'
										data-tooltip='{{localize "DOCUMENT.Delete" type='Weapon Quality'}}'
									>
										<i class='fas fa-trash'></i>
									</a>
								</div>
							</li>
						{{/if}}
					{{/if}}
				{{/each}}
			</ol>
		</div>
	{{/if}}

</section>