{{! Description Tab }}
<section class='tab description {{tab.cssClass}}' data-group='primary' data-tab='description'>
	{{#if (eq item.type 'weapon')}}
		<div class='grid grid-2col'>
			<label for='system.subtype' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.type')}}</label>
			<select id='system.subtype' name='system.subtype'>
				{{selectOptions config.subtype_list selected=system.subtype labelAttr='label' localize=true}}
			</select>
			{{!-- <label for='system.weight' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.weight')}}</label> --}}
			{{!-- <input class='statnum' type='text' name='system.weight' value='{{system.weight}}' data-dtype='Number' /> --}}

			{{#if (eq system.subtype 'shootin')}}
				<label for='system.action' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.action')}}</label>
				<select id='system.action' name='system.action'>
					{{selectOptions config.action_list selected=system.action labelAttr='label' localize=true}}
				</select>
			{{/if}}
		</div>
		<div class='resource grid grid-4col'>
			{{#if (eq system.subtype 'shootin')}}
				<label for='system.bonusdraw' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.bonusDraw')}}</label>
			{{/if}}
			<label for='system.attackbonus' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.attackBonus')}}</label>
			<label for='system.damage' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.damage')}}</label>
			<label for='system.crit' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.crit')}}</label>
		</div>
		<div class='resource grid grid-4col'>
			{{#if (eq system.subtype 'shootin')}}
				<input class='statnum' type='text' name='system.bonusdraw' value='{{system.bonusdraw}}' data-dtype='Number' />
			{{/if}}
			<input class='statnum' type='text' name='system.attackbonus' value='{{system.attackbonus}}' data-dtype='Number' />
			<input class='statnum' type='text' name='system.damage' value='{{system.damage}}' data-dtype='Number' />
			<input class='statnum' type='text' name='system.crit' value='{{system.crit}}' data-dtype='Number' />
		</div>
		{{#if (eq system.subtype 'shootin')}}
			<div class='resource grid grid-4col'>
				<label for='system.range' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.range')}}</label>
				<label for='system.ammo' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.ammo')}}</label>
			</div>
			<div class='resource grid grid-4col'>
				<select id='system.range' name='system.range'>
					{{selectOptions config.range_list selected=system.range labelAttr='label' localize=true}}
				</select>
				<input class='statnum' type='text' name='system.ammo' value='{{system.ammo}}' data-dtype='Number' />
			</div>
		{{/if}}
		<hr />
	{{/if}}
	{{#if (eq item.type 'crit')}}
		<div class='resources grid-weapon'>
			<div class='resource-label'>{{localize 'TALESOFTHEOLDWEST.Criticals.location'}}</div>
			<select id='system.location' name='system.location'>
				{{selectOptions config.crit_location_list selected=system.location labelAttr='label' localize=true}}
			</select>
			<div class='resource-label'>{{localize 'TALESOFTHEOLDWEST.Criticals.injury'}}</div>
			<input type='text' class='' name='system.injury' value='{{keepMarkup system.injury}} ' data-dtype='String' />

			<div class='resource-label'>{{localize 'TALESOFTHEOLDWEST.Criticals.healTime'}}</div>
			<span>
				<input type='text' class='healboxsize' name='system.healingtime' value='{{system.healingtime}} ' data-dtype='String' />
			</span>
			<div class='resource-label'>{{localize 'TALESOFTHEOLDWEST.Criticals.fatal'}}
				<input class='' name='system.fatal' type='checkbox' {{checked system.fatal}} />

				{{#if system.fatal}}
					<input type='text' name='system.fatalmessage' value='{{removeMarkup system.fatalmessage}}' data-dtype='String' />
				{{/if}}
			</div>
			<div class='resource-label wItem3'>{{localize 'TALESOFTHEOLDWEST.Criticals.imediateeffect'}}</div>
			<span>
				<input type='text' class='' name='system.imediateeffect' value='{{removeMarkup system.imediateeffect}} ' data-dtype='String' />
			</span>
			<div class='resource-label'>{{localize 'TALESOFTHEOLDWEST.Criticals.longtermeffect'}}</div>
			<span>
				<input type='text' class='' name='system.longtermeffect' value='{{removeMarkup system.longtermeffect}} ' data-dtype='String' />
			</span>
		</div>
		<hr />

	{{/if}}
	{{#if (eq item.type 'weaponquality')}}
		{{#if isGM}}

			<div class='grid grid-2col'>
				<label for='system.weapontype' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.type')}}</label>
				<select id='system.weapontype' name='system.weapontype'>
					{{selectOptions config.subtype_list selected=system.weapontype labelAttr='label' localize=true}}
				</select>
				<label for='system.feature' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.feature')}}</label>
				<select id='system.feature' name='system.feature'>
					{{selectOptions config.weapon_feature_list selected=system.feature labelAttr='label' localize=true}}
				</select>
				{{#if (ne system.feature 'condition')}}
					<label for='system.onweapon' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.weapon')}}</label>
					<select id='system.onweapon' name='system.onweapon'>
						{{selectOptions config.onweapon_list selected=system.onweapon labelAttr='label' localize=true}}
					</select>

				{{/if}}
			</div>
			<div class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.roll-modifiers')}}</div>
			<div style=' overflow-x: auto; '>
				<ol class='items-list'>
					<li class='item grid-weapon-feature-list items-header'>
						<div class='item-name grid-wfl1'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.General.name')}}</div>
						<div class='item-name grid-wfl2'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.value')}}</div>
						<div class='item-name grid-wfl3'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.condition')}}</div>
						<div class='item-controls grid-wfl4'>
							<a
								class='button'
								data-action='addqualitymodifier'
								data-origin='{{item.id}}'
								data-actor='{{@root.item.actor.id}}'
								data-isEmbedded='{{item.isEmbedded}}'
								title='{{toUpperCase (localize "TALESOFTHEOLDWEST.Item.General.addModifiers")}}'
							><i class='fas fa-plus'></i></a>
						</div>
					</li>
					{{#each system.itemModifiers as |modifier|}}
						{{#if modifier}}

							<li class='item grid-weapon-feature-list' data-item-id='{{item._id}}' data-drag='false' data-document-class='"weaponquality"'>
								<div class='item-image grid-wfl1'>
									<select name='system.itemModifiers.{{@key}}.name'>
										{{selectOptions @root.config.weapon_modifier_list selected=modifier.name labelAttr='label' localize=true}}
									</select>
								</div>
								<div class='item-name grid-wfl2'>
									<input name='system.itemModifiers.{{@key}}.value' type='number' value='{{modifier.value}}' style='text-align: center' />
								</div>
								<div class='item-name grid-wfl3'>
									<select name='system.itemModifiers.{{@key}}.state'>
										{{selectOptions @root.config.item_modifier_state selected=modifier.state labelAttr='label' localize=true}}
									</select>
								</div>
								<div class='item-controls grid-wfl4'>
									<a
										class='button delete-modifier'
										data-action='deletemodifier'
										data-origin='{{@root.item.id}}'
										data-isEmbedded='{{@root.item.isEmbedded}}'
										data-actor='{{@root.item.actor.id}}'
										title='{{toUpperCase (localize "TALESOFTHEOLDWEST.Item.General.deleteModifier")}}'
										data-modifier-id='{{@key}}'
									>
										<i class='fas fa-trash'></i>
									</a>
								</div>
							</li>
						{{/if}}
					{{else}}
						<i>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.noModifiers')}}</i>
					{{/each}}
				</ol>
			</div>
		{{else}}
			{{! You are a player so read only }}
			<div class='grid grid-2col'>
				<label for='system.weapontype' class='resource-label'>{{capitalise (localize 'TALESOFTHEOLDWEST.Item.General.type')}}</label>
				<label for='system.weapontype'>{{localize (concat 'TALESOFTHEOLDWEST.General.' system.weapontype)}}</label>

				<label for='system.feature' class='resource-label'>{{capitalise (localize 'TALESOFTHEOLDWEST.Item.General.feature')}}</label>
				<label for='system.weapontype'>{{localize (concat 'TALESOFTHEOLDWEST.Item.General.' system.feature)}}</label>

				{{#if (ne system.feature 'condition')}}
					<label for='system.onweapon' class='resource-label'>{{capitalise (localize 'TALESOFTHEOLDWEST.Item.General.weapon')}}</label>
					<label for='system.onweapon' class='resource-label'>{{localize (concat 'TALESOFTHEOLDWEST.Item.General.' system.onweapon)}}</label>
				{{/if}}
			</div>
		{{/if}}

		<hr />
	{{/if}}

	<label for='system.weapon' class='resource-label'>{{toUpperCase (localize 'TALESOFTHEOLDWEST.Item.General.impact')}}</label>
	{{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
	<div class='div-border'>
		{{#if editable}}
			<prose-mirror name='system.description' data-document-u-u-i-d='{{item.uuid}}' value='{{system.description}}' toggled='true'>
				{{{enrichedDescription}}}
			</prose-mirror>
		{{else}}
			{{{enrichedDescription}}}
		{{/if}}
	</div>

</section>