<header class='sheet-header'>
	<div class='grid-item-header'>

		<div class='document-name ItemHedCol1'>
			<input style='font-size: 35px;max-width: 445px;	height: auto;' name='name' type='text' value='{{item.name}}' placeholder='Name' />
		</div>

		{{#if (eq item.type 'item')}}
			<label class='resource-label ItemHedCol3'>Quantity</label>
			<input class='ItemHedCol4' type='text' name='system.quantity' value='{{system.quantity}}' data-dtype='Number' />
			<label class='resource-label ItemHedCol5'>Weight</label>
			<input class='ItemHedCol6' type='text' name='system.weight' value='{{system.weight}}' data-dtype='Number' />
		{{/if}}

		<img class='item-img grid-item-header ItemHedCol2' src='{{item.img}}' data-edit='img' data-action='onEditImage' title='{{item.name}}' />
	</div>
</header>